.traing_to_split_css_for_better_reading {}

* {
    margin: auto;
    height: auto;

    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.traing_to_split_css_for_better_reading {}

/* MAIN TABS */
#main {
    width: 100vw;
    height: 4vh;
    background-color: darkred;
}

#mainLeft {
    width: 1vw;
    height: 2vh;
    background-color: darkred;
    position: fixed;
    top: 50%;
    z-index: 5;
    cursor: pointer;
}

#mainRight {
    width: 1vw;
    height: 2vh;
    background-color: darkred;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 5;
    cursor: pointer;
}


.optoinsMainShow .traing_to_split_css_for_better_reading {}

/* BLOCK Editor */

.blocks {
    width: 100vw;
    height: 100vh;
}

.txt {
    width: 100vw;
    height: 100vh;
    font-size: medium;
}

#html-editor {}

#css-editor {}

#js-editor {}

#console1 {}

#result {}

.traing_to_split_css_for_better_reading {}

/* MODAL_WINDOW */

.traing_to_split_css_for_better_reading {}