.traing_to_split_css_for_better_reading {}

* {
    margin: auto;
    height: auto;
    overflow: hidden;

}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.traing_to_split_css_for_better_reading {}

/* MAIN TABS */
#main {
    width: 100vw;
    height: 4vh;
    background-color: darkred;
}

#Btnhtml {
    position: fixed;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0.5%;
}

#Btncss {
    position: fixed;
    top: 55%;
    z-index: 5;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0.5%;
}

#Btnjs {
    position: fixed;
    top: 60%;
    z-index: 5;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0.5%;
}

#BtnRun {
    position: fixed;
    top: 45%;
    z-index: 5;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0.5%;
}

#view {
    width: 5vh;
    height: 2;
    background-color: goldenrod;
    position: absolute;
    left: 50%;
    top: 0.2%;
    z-index: 6;
    display: block;
}


.optoinsMainShow .traing_to_split_css_for_better_reading {}

/* BLOCK Editor */

.blocks {
    width: 100vw;
    height: 100vh;
}

.txtFull {
    width: 50vw;
    height: 100vh;
    position: absolute;
}

.txt {
    width: 100vw;
    height: 100vh;
    font-size: medium;
}

#html-editor {}

#css-editor {}

#js-editor {}

#console1 {}

#result {
    width: 100vw;
    height: 100vh;
    position: absolute;
    right: 0;
}

.traing_to_split_css_for_better_reading {}

/* MODAL_WINDOW */

.traing_to_split_css_for_better_reading {}